{% extends "tutorial/layout.html" %}
{% block content %}
{% load static %}
<div class="about-section">
    <h1>About Us</h1>
    <p>Welcome! We are members of Run Time Terror participating in the 2020 Ohio State
        Hackathon completing the
        Microsoft challenges. We wished to combine all three challenges into one by creating a
        tailored virtual
        workspace for both students and organizations. We will be focusing on the viewpoint of a
        student enrolled
        in courses. This website will be tailored to the organizational needs of a student but could
        be easily be
        applied to an employee within a business enterprise. First, the user will be asked to log in
        and authenticate
        their identity based on the requirements set by their organization. In the case of Ohio State
        Students, this
        will be their Buckeyemail authenticated with Duo Push. Once the user has been
        authenticated, he will have
        access to three viewpoints. A "Calendar" viewpoint which will encompass all events,
        appointments, class
        meetings, and assignments in a monthly outlook. This functionality will be shared with
        instructors and the user's
        personal calander. This allows the user to combine all calendars into one for an overall
        view of the student's month.
        The user could also access a singular calendar for a course, a singular calendar for the
        student personal events,
        and an overall calendar for all events. This, in theory, would combine the user's academic
        schedule with their
        personal calendar allowing for maximum organization. Next, a "Weekly" viewpoint which
        will show the user all events
        scheduled in their calendar for the next seven days given the date inputted. This would
        provide a more informational
        viewpoint to the schedule the student has set for that week. Lastly, a "To-Do" viewpoint
        which will show the user the
        events, assignments, and appointments due on that day. Future plans for this page will
        include automation of email-sending
        bots which will remind the user of events, appointments, and due dates. This will be based
        on user preferences and will
        offer options such as "Please remind me of 'X' due date one week prior of the due date,
        one day prior of the due date,
        and one hour prior of the assigned due date." These time settings for remainders will be

        completely set by the user,
        furthering the user experience. Currently, this is just an experiment to bring a more friendly
        user experience to those
        struggling to maintain organizational skills within the Virtual World. Please enjoy what we
        have created :)!
    </p>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="{% static 'tutorial/ahmed.jpeg' %}" alt="Ahmed" style="width:100%">
            <div class="container">
                <h2>Ahmed Darwich</h2>
                <p class="title">Team Member</p>
                <p>Current OSU Computer Science and Engineering Major</p>
                <p>darwich.6@osu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="{% static 'tutorial/shyamal.jpeg' %}" alt="Shyamal" style="width:100%">
            <div class="container">
                <h2>Shyamal Shah</h2>
                <p class="title">Team Member</p>
                <p>Current OSU Computer Science and Engineering Major</p>
                <p>shah.1355@osu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="{% static 'tutorial/jeremy.jpeg' %}" alt="Jeremy" style="width:100%">
            <div class="container">
                <h2>Jeremy Grifski</h2>
                <p class="title">Team Member</p>

                <p>Current OSU EED PhD Student</p>
                <p>grifski.1@osu.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}